@model List<Category>

@if (!Model.Any())
{
    <p>No categories found.</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>CategoryId</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@category.CategoryId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}