@model List<Category>
@*Index is not unlike what we've done during labs*@
@{
    ViewData["Title"] = "Categories";
}


<h2>Categories</h2>

<h2>Categories</h2>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Create New Category</a>
    <a class="btn btn-secondary" asp-controller="Event" asp-action="Summary">View Event Summary</a>
</div>

 

<form asp-action="Index" method="get" class="form-inline mb-3">
    <input type="text"
           name="searchString"
           class="form-control mr-2"
           placeholder="Search by category"
           value="@Context.Request.Query["searchString"]"/>
    <input type="submit" value="Search/Filter" class="btn btn-secondary"/>

</form>


@if(Model.Any()) 
{
    
    <table class="table">
        <thead>
        <tr>
            <th>CategoryId</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>@category.Description</td>
            
                <td>
                    <a asp-action="Details" asp-route-id="@category.CategoryId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger">Delete</a>
                    <a asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{ 
    <p>No categories available.</p>
}